{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [

        {
            "name": "Python Debugger: Odoo 18 with Arguments",
            "type": "debugpy",
            "request": "launch",
            "program": "D:/odoo/odoo18/community/odoo-bin",
            "python": "D:/odoo/odoo18/venv/Scripts/python.exe",
            "console": "integratedTerminal",
            "args": "--config=D:/odoo/odoo18/app/odoo.conf"
        }
    ]
}